.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    animation: .5s ease-in-out slide-logo-on-top forwards;
}

@keyframes slide-logo-on-top {
    from {
        transform: translateY(calc(-100% - 20px));
    }
    to  {
        transform: translateY(0);
    }
}

.logo {
    height: 50px;
    width: 50px;
    fill: #f2f8f4;
}

.title {
    font-size: 40px;
}