.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    transform: translateY(calc(-100% - 20px));
    animation: .5s ease-in-out slide-logo-on-top forwards;
}

@keyframes slide-logo-on-top {
    100% {
        transform: translateY(0);
    }
}

.logo {
    height: 50px;
    width: 50px;
}

.title {
    font-size: 40px;
}