.button {
    background: #a0e8af;
    border-radius: 12px;
    border: 2px solid #5e9c8b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    color: #2b5b4e;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;

    outline: solid 0 hsla(154, 50%, 60%, 0.6);
    transition: all 0.3s ease;

    padding: 12px;

    cursor: pointer;
}

.button:hover {
    background: #8cd69b;
    outline: solid 4px hsla(154, 50%, 60%, 0.6);
}

.button:active {
    opacity: 0.88;
    transform: scale(0.96);
}

.button.danger {
    background: #ff6b6b;
    border: 2px solid #b04747;

    color: #ffffff;

    outline: 0 solid hsla(0, 70%, 60%, 0.6);
}

.button.danger:hover {
    background: #e05454;
    outline: solid 4px hsla(0, 70%, 60%, 0.6);
}