.navContainer {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #77b6ab;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    padding-bottom: 30px;
}

.title {
    width: 100%;
}

.leftNavContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    animation: .7s ease-in-out slide-in-left forwards;
}

.rightNavContainer {
    animation: 1s ease-in-out slide-in-left forwards;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.sortOptionsContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}