.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    margin-bottom: 30px;
}

.title {
    width: 100%;
}

.leftNavContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    animation: .7s ease-in-out slide-in-left forwards;
}

.rightNavContainer {
    animation: 1s ease-in-out slide-in-left forwards;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.sortOptionsContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}