.sortLabel {
    font-size: 16px;
    color: #2b5b4e;
    font-weight: 500;
}

.sortOptions {
    border: 2px solid #5e9c8b;
    border-radius: 12px;
    background-color: #f2f8f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    font-size: 16px;
    color: #2b5b4e;

    transition: all 0.3s ease;

    padding: 5px;

    cursor: pointer;
}

.sortOptions:focus {
    outline: none;
    border-color: #8cd69b;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.sortOptions:hover {
    border-color: #77b6ab;
    background-color: #f2fdf9;
}

.sortOptions option {
    background-color: #f2f8f4;
    color: #2b5b4e;
}